//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 22 13:52:46 2019
//! **************************************************************************

SCHEMATIC START;
COMP "Q" LOCATE = SITE "H17" LEVEL 1;
COMP "D" LOCATE = SITE "L16" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "E3" LEVEL 1;
SCHEMATIC END;

