
# PlanAhead Generated IO constraints 

NET "MUX_IN_A[3]" IOSTANDARD = LVCMOS33;
NET "MUX_IN_A[2]" IOSTANDARD = LVCMOS33;
NET "MUX_IN_A[1]" IOSTANDARD = LVCMOS33;
NET "MUX_IN_A[0]" IOSTANDARD = LVCMOS33;
NET "MUX_SEL[1]" IOSTANDARD = LVCMOS33;
NET "MUX_SEL[0]" IOSTANDARD = LVCMOS33;
NET "MUX_OUT_Q" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "MUX_IN_A[3]" LOC = T18;
NET "MUX_IN_A[2]" LOC = R17;
NET "MUX_IN_A[1]" LOC = R15;
NET "MUX_IN_A[0]" LOC = M13;
NET "MUX_SEL[1]" LOC = L16;
NET "MUX_SEL[0]" LOC = J15;
NET "MUX_OUT_Q" LOC = H17;
