
# PlanAhead Generated physical constraints 

NET "MUX_IN_A" LOC = J15;
NET "MUX_IN_B" LOC = L16;
NET "MUX_SEL" LOC = M13;
NET "MUX_OUT_C" LOC = H17;

# PlanAhead Generated IO constraints 

NET "MUX_IN_A" IOSTANDARD = LVCMOS33;
NET "MUX_IN_B" IOSTANDARD = LVCMOS33;
NET "MUX_OUT_C" IOSTANDARD = LVCMOS33;
NET "MUX_SEL" IOSTANDARD = LVCMOS33;
