//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 22 00:34:05 2019
//! **************************************************************************

SCHEMATIC START;
COMP "HA_OUT_CARRY" LOCATE = SITE "H17" LEVEL 1;
COMP "HA_IN_A" LOCATE = SITE "J15" LEVEL 1;
COMP "HA_IN_B" LOCATE = SITE "L16" LEVEL 1;
COMP "HA_OUT_SUM" LOCATE = SITE "K15" LEVEL 1;
SCHEMATIC END;

