
# PlanAhead Generated IO constraints 

NET "FA_IN_A" IOSTANDARD = LVCMOS33;
NET "FA_IN_B" IOSTANDARD = LVCMOS33;
NET "FA_IN_CARRY" IOSTANDARD = LVCMOS33;
NET "FA_OUT_CARRY" IOSTANDARD = LVCMOS33;
NET "FA_OUT_SUM" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "FA_IN_A" LOC = J15;
NET "FA_IN_B" LOC = L16;
NET "FA_IN_CARRY" LOC = M13;
NET "FA_OUT_CARRY" LOC = H17;
NET "FA_OUT_SUM" LOC = K15;
